# Dépendances (Le plus important)
node_modules/
client/node_modules/
server/node_modules/

# Environnement et Secrets
.env
.env.local

# Compilation
dist/
build/
.cache/

# Base de données (SQLite)
server/prisma/*.db
server/prisma/*.db-journal

# Système (Mac)
.DS_Store